extends layout

block content
  .container.games-container
    .row.row-logo
      img(src='images/suva.png' class='logo col-6 offset-3')
    img(src='images/football.png' class='football-top-left football')
    .row
      p.col-8.offset-2.games-question Which team played most fair today?
    .row.row-teams
      a(href="google.com" class='col-4 offset-1')
        img(src='images/yb.png' class='team-logo')
      a(href="google.com" class='col-4 offset-1')
        img(src='images/fcz.png' class='team-logo')
    img(src='images/football.png' class='football-middle-right football')
    img(src='images/football.png' class='football-bottom-left football')

