extends layout
block content
 section(style="background: #fa9d44;")
  div.contenedorsection.contenedor
   h1.suva suva
  div.contenedorsection.contenedor
   div.name Michel Aebischer - 
   div.name YB - 1 League  
  div.contenedorsection.contenedor 
   div.contenedorsection.contenedor(style="height:1050px")
    img.profileimg(src="images/player.png")
  a.link(href="/quiz")
     img.imageoval#quiz(src="images/quiz_icon.png")
  a.link(href="")
     img.imageoval#team-icon(src="images/team_icon.png")
  a.link(href="")
     img.imageoval#award-icon(src="images/award_icon.png")
 section.contenedor
  div.boton
   div.content
    img(src="images/team_total.png")
    p.fuente +10
  div.boton
   div.content
    img(src="images/award_total.png")
    p.fuente +5 
  div.boton
   div.content
    img(src="images/quiz_total.png")
    p.fuente +3
 div.content.advice
  p.fuente The only disability in life is a bad attitude.