extends layout
block content
 section(style="background: #fa9d44;")
  div.contenedor
   h1.suva suva
  div.contenedor
   div.name Nilo Vila - 
   div.name YB - 1 League  
  div.contenedor 
   div.contenedor(style="height:1050px")
    img.profileimg(src="/images/player.png")
  a(href="")
     img.imageoval#quiz(src="/images/quiz_icon_selected.png")
  a.link(href="/")
     img.imageoval#team-icon(src="/images/team_icon.png")
  a(href="")
     img.imageoval#award-icon(src="/images/award_icon.png")
 section
  div.contenedor
   h3.fuente2 QUIZ
  div.contenedor
   h1.fuente Is it common to shake hands with the other team after the match?
  div.contenedor
   button.bton#goodButton
    h1 YES
   button.bton#badButton
    h1 NO
  div.contenedor
   button.bton2#nextQuestion 
    h1 NEXT QUESTION
 script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
 script(src="/js/animation.js")