extends layout
block content
 section(style="background: #fa9d44;")
  div.contenedorsection.contenedor
   h1.suva suva
  div.contenedorsection.contenedor
   div.name Michel Aebischer - 
   div.name YB - 1 League  
  div.contenedorsection.contenedor 
   div.contenedorsection.contenedor(style="height:1050px")
    img.profileimg(src="images/player.png")
  a.link(href="/quiz")
     img.imageoval#quiz(src="images/quiz_icon.png")
  a.link(href="/team-ranking")
     img.imageoval#team-icon(src="images/team_icon_selected.png")
  a.link(href="/player-ranking")
     img.imageoval#award-icon(src="images/award_icon.png")
 section.contenedor-table
  div.title.my-4
    p Team Ranking
  table.table.table-borderless.mt-5
    thead
        tr
            th Rank
            th Team
            th Change
    tbody
        tr
            td 1
            td Young Boys
            td +3  
        tr
            td 2
            td FC St. Gallen
            td +2
        tr
            td 3
            td FC Thun
            td -1
        tr
            td 4
            td FC Basel
            td -4