html{
  box-sizing: border-box;
}
*,*:before,*after{
  box-sizing: inherit;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  border: 0;
}

a {
  color: #00B7FF;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size:  3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.contenedor{
  display: flex;
  justify-content: center;
  font-family: TheSansB7;
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.profileimg{
  width: 950px;
  height: 950px;
}
.suva{
 font-style: normal;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 4rem;
 color: dimgray;
}
.imageoval{
  width: 250px; 
  height: 250px;
}
#quiz{
  position: absolute;
  top:300px;
  left:2.5%;
}
#quiz:hover{
  cursor: pointer;
}

#team-icon{
  position: absolute;
  top: 850px;
  left: 0.7%;;
}
#award-icon{
  position: absolute;
  top: 850px;
  left: 69.3%;;
}

section{
  background: white;
  text-align: center;
}
.boton{
  padding: 5px;
  margin: 3px;
  display: inline-block;
}
.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fuente{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}
.fuente2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: #fa9d44;
}
.bton {
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fa9d44; 
  border-radius: 70px;
  width: 170px;
  height: 150px;
  margin: 90px;
}
.bton2{
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fa9d44; 
  border-radius: 70px;
  width: 540px;
  height: 150px;
  margin: 30px;
}
.advice{
  margin-top: 15rem;
}
.link{
  cursor: pointer;
}